.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://img.freepik.com/premium-photo/3d-render-pink-heart-shaped-ice-cream-flat-lay_224530-2210.jpg?ga=GA1.1.951222327.1731824135&semt=ais_hybrid');
    background-size: cover;
    background-position: center;
    filter: blur(1.4px);
    z-index: 1;
}

.left h1 {
    font-size: 3em;
    color: white;
    position: relative;
    z-index: 10;
}

.right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right h1 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.right {
    background-color: rgba(222, 119, 148, 0.3); 
}


button {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #ff66b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #ff3385;
}

.features {
    margin-top: 30px;
    font-size: 1.5em;
}

.feature-item {
    margin-bottom: 20px;
    font-size: 1.2em;
}


