body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink; 
}

.intro {
    text-align: center;
    margin-top: 20px;
}

.intro h1 {
    font-size: 3em;
}

.site-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.site-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    text-align: left;
    font-size: 1.2em;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

button:hover {
    background-color: #ff1a1a;
}
